.expo/
/dist
/build
/tmp
/backup
/out-tsc
**/node_modules
npm-debug.log
yarn-error.log
.ds_store
apps/server/cache
thumbs.db
.yarn/
.transform_cache
.schemas
.env
.code_glue
.cli
.VSCodeCounter
coverage

**/synapse_storage.db

tamagui-web.css
.tamagui

# macOS
.DS_Store
/.eslintcache
