name: Pull Request Checks

on:
  pull_request:
    branches:
      - stage
      - prod
      - develop
  push:
    branches:
      - stage
      - prod
      - develop
jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - run: corepack enable
      - run: yarn config set enableImmutableInstalls false
      - run: yarn install
      - run: yarn server:build
      - run: yarn server:lint
      - run: yarn server:test
      # - name: Upload coverage reports to Codecov
      #   uses: codecov/codecov-action@v4.6.0
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      - run: yarn client:lint
